<!-- Register özelliğini açmak için aşağıdaki formu yorumdan çıkar. -->

<!-- <form
  [formGroup]="registerForm"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <label style="margin-right: 10px">I am a: </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input me-3"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label class="form-check-label">
      <input
        type="radio"
        class="form-check-input me-3 ms-3"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
  </div>
  <div class="mb-3">
    <input
      type="text"
      [ngClass]="
        registerForm.get('username')?.errors &&
        registerForm.get('username')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback" *ngIf="registerForm.get('username')?.invalid">
      Please enter a username
    </div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      [ngClass]="
        registerForm.get('knownAs')?.errors &&
        registerForm.get('knownAs')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="knownAs"
      placeholder="Known As"
    />
    <div class="invalid-feedback" *ngIf="registerForm.get('knownAs')?.invalid">
      Please enter a known as
    </div>
  </div>
  <div class="mb-3">
    <div class="mb-3">
      <input
        type="text"
        placeholder="Date of Birth"
        [ngClass]="
          registerForm.get('dateOfBirth')?.errors &&
          registerForm.get('dateOfBirth')?.touched
            ? 'is-invalid'
            : ''
        "
        class="form-control"
        bsDatepicker
        formControlName="dateOfBirth"
        [bsConfig]="bsConfig"
        [maxDate]="maxDate"
      />
    </div>
    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('dateOfBirth')?.invalid"
    >
      Please enter date of birth
    </div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      [ngClass]="
        registerForm.get('city')?.errors && registerForm.get('city')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="city"
      placeholder="City"
    />
    <div class="invalid-feedback" *ngIf="registerForm.get('city')?.invalid">
      Please enter city
    </div>
  </div>
  <div class="mb-3">
    <input
      type="text"
      [ngClass]="
        registerForm.get('country')?.errors &&
        registerForm.get('country')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="country"
      placeholder="Country"
    />
    <div class="invalid-feedback" *ngIf="registerForm.get('country')?.invalid">
      Please enter country
    </div>
  </div>
  <div class="mb-3">
    <input
      type="password"
      [ngClass]="
        registerForm.get('password')?.errors &&
        registerForm.get('password')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />
    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('password')?.hasError('required')"
    >
      Please enter a password
    </div>

    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('password')?.hasError('minlength')"
    >
      Password must be at least 4 characters
    </div>
    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('password')?.hasError('maxlength')"
    >
      Password must be at most 8 characters
    </div>
  </div>
  <div class="mb-3">
    <input
      type="password"
      [ngClass]="
        registerForm.get('confirmPassword')?.errors &&
        registerForm.get('confirmPassword')?.touched
          ? 'is-invalid'
          : ''
      "
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />

    <div
      class="invalid-feedback"
      *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')"
    >
      Passwords must match
    </div>
  </div>
  <div class="row" *ngIf="validationErrors">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>
  <div class="text-center">
    <button
      [disabled]="!registerForm.valid"
      class="btn btn-success me-2"
      type="submit"
    >
      Register
    </button>
  </div>
</form> -->
